<div class="ui inverted large menu segment">


    <div class="ui inverted secondary pointing menu"> 
            <a class="active item">
                ChatRoom
            </a>
                <a class="item">
                Messages
            </a>
        </div>

        <div class="ui inverted secondary pointing menu right menu">
            <div class="ui dropdown item">
            Account <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item">Logout</a>
                <a class="item">Login</a>
                <a class="item">SignUp</a>
            </div>
            </div>
            <div class="item">
                <div class="ui primary button">Sign Up</div>
            </div>
        </div>
   
 
</div>